<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>查找</title>
</head>

<body>
  <table>
    <tr>
      <th>姓名</th>
      <th>学号</th>
    <tr>
      <%-TABLE%>
  </table>
  <form action="/">
    <button type="submit">继续输入</button>
  </form>
</body>

</html>